@media screen and (max-width:1700px){
	.project__list-pic__wrap {
	    width: 100%;
	    margin-left: -4%;
	}
	/*.case__img-tablet {
	    max-width: 400px;
	}
	.case__img-phone1 {
	    max-width: 300px;
	}
	.case__img-phone2 {
	    max-width: 200px;
	}
	.case__img-pen {
	    max-width: 250px;
	}

	.slick-current .case__img-tablet {
	    top: 23%;
	    right: 20%;
	}
	.slick-current .case__img-phone1 {
	    right: 1%;
	    bottom: 21%;
	}
	.slick-current .case__img-phone2 {
	    top: 12%;
	    right: 12%;
	}
	.slick-current .case__img-pen {
	    top: 47%;
	    right: 14%;
	}*/
}

@media screen and (max-width:1500px){
	.project__list-pic__wrap {
	    margin-left: 0%;
	}

}

@media screen and (max-width:1350px){
	.banner__title {
	    font-size: 50px;
	}
	.banner__wr-text {
	    left: 0;
	    right: 0;
	    bottom: 12%;
	}
}

@media screen and (max-width:960px){
	.buttonMenu{
		display:block;
	}
	.show_menu header nav .menu_container {
		left: 0;
	}
	header .top_container .email{
		display:none;
	}
	header nav .menu_container {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100vh;
		left: -100%;
		bottom: 0;
		z-index: 99;
		background: rgba(0, 0, 0, 0.33);
		transition: .3s all;
	}
	header nav .menu_container .close, 
	header nav .menu_container .close:before {
		width: 55px;
		height: 55px;
		background: #121212;
		content: "";
		display: block;
		right: 0;
		top: 0;
		position: absolute;
		z-index: 1;
	}
	header nav .menu_container .close:before {
		width: 24px;
		height: 22px;
		background: url(../images/close.svg) no-repeat 50% 50%;
		background-size: contain;
		margin: 16px;
		z-index: 2;
	}
	header nav .menu_container .menu_wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 55px;
		bottom: 0;
		background: #fff;
		overflow: auto;
		/*padding: 15px 15px 205px;*/
	}
	header nav ul, 
	header nav ul li{
		width:100%;
		margin:0;
	}
	header nav ul li a{
		border-bottom:1px solid #dbe0e2;
		padding-left:0;
		padding-right:0;
		position: relative;
	}
	header nav ul li a:hover{
		background:none;
	}
	body.show_menu {
		overflow: hidden;
	}
	header nav .menu_container .menu_wrapper .footer{
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		background:#fff;
		padding:15px 15px 0;
		display:block;
	}
	header nav .menu_container .menu_wrapper .footer a{
		padding:0;
	}
	header nav .menu_container .menu_wrapper .footer .phone{
		font-size:20px;
	}
	header nav .menu_container .menu_wrapper .footer .email{
		margin: 10px 0 20px;
		text-transform:none;
	}
	header nav .menu_container .menu_wrapper .footer .btn{
		padding:5px 15px;
	}
	header nav .menu_container .menu_wrapper .footer .bottom_line{
		background:#eee;
		color:#767676;
		margin-left:-15px;
		margin-right:-15px;
		margin-top:20px;
		padding:8px 15px;
		font-size:12px;
	}

	header nav .menu_wrapper .menu_wrapper_inner {
	    position: relative;
	    padding: 15px 15px 205px;
	    min-height: 100vh;
	    box-sizing: border-box;
	}

	header nav .menu_wrapper ul li.menu-item-has-children ul{
    	position: static;
	    margin-top: 0;
	    opacity: 1;
	    background: #fff;
	    padding: 0;
	    border-radius: 0;
	    min-width: auto;
	}
	header nav .menu_wrapper ul li.menu-item-has-children > a:after {
	    content: "";
	    display: block;
	    width: 9px;
	    height: 10px;
	    position: absolute;
	    top: 50%;
	    margin-top: -5px;
	    right: 10px;
	    background: url(../images/right-arrow.svg) no-repeat 0 0;
	    background-size: contain;
	    -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    transform: rotate(90deg);
	    transition: .3s all;
	}
	header nav .menu_wrapper ul li.menu-item-has-children > a.rotate:after {
	    content: "";
	    -moz-transform: rotate(270deg);
	    -ms-transform: rotate(270deg);
	    -webkit-transform: rotate(270deg);
	    -o-transform: rotate(270deg);
	    transform: rotate(270deg);
	    transition: .3s all;
	    margin-left: -3px;
	    margin-top: -7px;
	    transition: .3s all;
	}
	header nav .menu_wrapper ul > li > ul {
	    opacity: 1;
	    box-shadow: none !important;
	    display: none;
	    transition: .3s all;
	}
	header nav .menu_wrapper ul li ul.sub-menu li {
	    overflow: initial;
	}
	header nav .menu_wrapper ul li ul.sub-menu li a{
	    padding: 15px 25px;
	}

}