@font-face {
	font-family: 'Proxima Nova';
	src: local('ProximaNova-Light'),
		url('ProximaNova-Light.woff2') format('woff2'),
		url('ProximaNova-Light.woff') format('woff'),
		url('ProximaNova-Light.ttf') format('truetype'),
		url('ProximaNova-Light.eot?#iefix') format('embedded-opentype');
	font-weight: 300;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova';
	src: local('ProximaNova-Regular'),
		url('ProximaNova-Regular.woff2') format('woff2'),
		url('ProximaNova-Regular.woff') format('woff'),
		url('ProximaNova-Regular.ttf') format('truetype'),
		url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova';
	src: local('ProximaNova-Semibold'),
		url('ProximaNova-Semibold.woff2') format('woff2'),
		url('ProximaNova-Semibold.woff') format('woff'),
		url('ProximaNova-Semibold.ttf') format('truetype'),
		url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype');
	font-weight: 600;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova';
	src: local('ProximaNova-Bold'),
		url('ProximaNova-Bold.woff2') format('woff2'),
		url('ProximaNova-Bold.woff') format('woff'),
		url('ProximaNova-Bold.ttf') format('truetype'),
		url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: 700;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Bebas Neue';
	src: local('Bebas Neue'),
		url('Bebas Neue.woff2') format('woff2'),
		url('Bebas Neue.woff') format('woff'),
		url('Bebas Neue.ttf') format('truetype'),
		url('Bebas Neue.eot?#iefix') format('embedded-opentype');
	font-weight: 700;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Code Pro';
	src: local('Code Pro'),
		url('Code Pro.woff2') format('woff2'),
		url('Code Pro.woff') format('woff'),
		url('Code Pro.ttf') format('truetype'),
		url('Code Pro.eot?#iefix') format('embedded-opentype');
	font-weight: 700;
	font-style: normal;
    font-display: swap;
}
